<settings>
   <setting id="community_list" type="bool" label="Aktualizovat z dmd-xbmc" default="true"/>
   <setting id="save_location" type="folder"  label="Vyber slozku s playlisty." default="/storage/.xbmc/addons/plugin.video.dmd.streams/" enable="eq(-1,true)"/>
   <setting id="xml_file" type="file"  source="files" label="Vyber soubor" default="/storage/.xbmc/addons/plugin.video.dmd.streams/dmd_streams.xml" />
   <setting id="mirror_link" type="bool" label="Pouzit zalozni link pokud existuje" default="false"/>
   <setting id="mirror_link_low" type="bool" label="Pouzit druhy zalozni link" default="false" enable="eq(-1,false)"/> 
</settings>